<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">

<head th:replace="fragment/globaltemp::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="fragment/globaltemp::navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <div th:each="eachNewsFeed:${newsFeed}">
                <div th:each="eachArticle:${eachNewsFeed.articles}">
                    <hr>
                    <hr>
                    <!-- Title -->
                    <a th:href="${eachArticle.url}"><h3 class="mt-4" th:text="${eachArticle.title}"></h3></a>

                    <!-- Author -->
                    <p class="lead">
                        by
                        <span th:text="${eachArticle.author}"></span>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p th:text="${eachArticle.publishedAt}"></p>

                    <hr>

                    <!-- Preview Image -->
                    <img class="img-fluid rounded" th:src="${eachArticle.urlToImage}" alt="">

                    <hr>

                    <!-- Post Content -->
                    <p class="lead" th:text="${eachArticle.description}"></p>
                </div>
            </div>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                </div>
            </div>

            <!-- Comment with nested comments -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                        </div>
                    </div>

                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Commenter Name</h5>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div th:each="eachUser:${user}" class="col-lg-6">
                            <p th:${user.categories}></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="fragment/globaltemp::footer" class="py-5 bg-dark"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="fragment/globaltemp::scripts"></div>
</body>

</html>
